@media (max-width:992px) {
  /* body {
    overflow: hidden;
  } */

  .Main-container {
    flex-direction: column;
  }

  .Logo {
    width: 150px;
  }

  .sidebar {
    width: 100%;
margin-top: 70px;
  }
.BC-nav {
    width: 89%;
}
.My-header{
  position: fixed;
  width: 100%;
  z-index: 100;
}
  .Right-main {
    margin-top: 70px;
    height: 100vh;
  }

  .heading-1 {
    font-size: var(--font-size-md-h1);
  }

  .heading-2 {
    font-size: var(--font-size-md-h2);
  }

  .heading-3 {
    font-size: var(--font-size-md-h3);
  }
}

@media (max-width:500px) {
  .heading-1 {
    font-size: var(--font-size-sm-h1);
  }

  .heading-2 {
    font-size: var(--font-size-sm-h2);
  }

  .heading-3 {
    font-size: var(--font-size-sm-h3);
  }
}